# Virtualenv
/.venv/
/venv/

.idea/

# Byte-compiled / optimized / DLL files
__pycache__/
.ipynb_checkpoints/

/images/res/*.jpg
/eval_results/
/draw_gt/
/results/
/weights/
/annotation_json/
/config/__pycache__/
/tools/__pycache__/
/model/__pycache__/


/inference_model/
/ResNet50*/
/output/



log*.txt
*.log
*.pdparams
*.pdopt
*.pdmodel
*.npz
*.zip
*.pt
*.pth



